# Azure Service Principal details
# Required permisions : owner at subscription level, AAD admin consent to list Directory and to assign roles at subscription level
export ARM_CLIENT_ID=<ARM_CLIENT_ID>
export ARM_CLIENT_SECRET=<ARM_CLIENT_SECRET>
export ARM_SUBSCRIPTION_ID=<ARM_SUBSCRIPTION_ID>
export ARM_TENANT_ID=<ARM_TENANT_ID>
# Project Details
export LOCATION="westeurope"
export ENV="test"
export APP="mvpapp"
DOCKER_USER=${ARM_CLIENT_ID}; export DOCKER_USER
DOCKER_PASS=${ARM_CLIENT_SECRET}; export DOCKER_PASS
RELEASE_TAG=$(git rev-parse --short HEAD); export RELEASE_TAG
REMOTE_REGISTRY="acr${APP}${ENV}${LOCATION}.azurecr.io"; export REMOTE_REGISTRY

export NEWSFEED_TOKEN=<NEWSFEED-TOKEN>
