# Azure Service Principal details
# Required permisions : owner at subscription level, AAD admin consent to list Directory and to assign roles at subscription level
export ARM_CLIENT_ID=<ARM_CLIENT_ID>
export ARM_CLIENT_SECRET=<ARM_CLIENT_SECRET>
export ARM_SUBSCRIPTION_ID=<ARM_SUBSCRIPTION_ID>
export ARM_TENANT_ID=<ARM_TENANT_ID>
# Project Details
export LOCATION="westeurope"
export ENV="test"
export APP="mvpapp"

export NEWSFEED_TOKEN=<NEWSFEED-TOKEN>
